{% extends 'template.html' %}

{% block title %}
{{car}}
{% endblock %}


{% block content %}
<h2>Find Car</h2>
<form action="{% url 'find_car_url' %}">
	<fieldset>
		<legend>Disabled fieldset example</legend>

		<!-- Brand -->
		<div class="col-md-4 mb-3">
                <label for="state">Brand</label>
                <select class="custom-select d-block w-100" name="brand">
                  <option value="">Select Brand</option>
					{% for brand in brands %}
                  <option>{{ brand }}</option>
					{% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
		</div>

		<!-- Year -->
		<div class="col-md-4 mb-3">
		<div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Year from:</label>
                <input type="text" class="form-control" id="firstName" placeholder="From" name="yearFrom" value="">
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Year to:</label>
                <input type="text" class="form-control" id="lastName" placeholder="To" name="yearTo" value="" >
              </div>
		</div>
		</div>

		<!-- Price -->
		<div class="col-md-4 mb-3">
		<div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Price from:</label>
                <input type="text" class="form-control" id="firstName" placeholder="From" name="priceFrom" value="">
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Price to:</label>
                <input type="text" class="form-control" id="lastName" placeholder="To" name="priceTo" value="" >
              </div>
		</div>
		</div>


		<!-- body_type -->
		<div class="col-md-4 mb-3">
                <label for="state">Body_type</label>
                <select class="custom-select d-block w-100" id="state" name="body_type">
                  <option value="">Select BrandType</option>
					{% for body_type in body_types %}
                  <option>{{ body_type }}</option>
					{% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
		</div>

		<!-- fuel_type -->
		<div class="col-md-4 mb-3">
                <label for="state">Fuel_type</label>
                <select class="custom-select d-block w-100" id="state" name="fuel_type">
                  <option value="">Select FuelType</option>
					{% for fuel_type in fuel_types %}
                  <option>{{ fuel_type }}</option>
					{% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
		</div>


		<!--  wheel_type -->
		<div class="col-md-4 mb-3">
                <label for="state">Wheel_type</label>
                <select class="custom-select d-block w-100" id="state" name="wheel_type">
                  <option value="">Select Color</option>
					{% for wheel_drive in wheel_drives %}
                  <option>{{ wheel_drive }}</option>
					{% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
		</div>


		<!--  color -->
		<div class="col-md-4 mb-3">
                <label for="state">Color</label>
                <select class="custom-select d-block w-100" id="state" name="color">
                  <option value="">Select Color</option>
					{% for color in colors %}
                  <option>{{ color }}</option>
					{% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
		</div>

		<!-- engine_volume -->
		<div class="col-md-4 mb-3">
		<div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">EngineVolume from:</label>
                <input type="text" class="form-control" id="firstName" placeholder="From" name="engineFrom" value="">
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">EngineVolune to:</label>
                <input type="text" class="form-control" id="lastName" placeholder="To" name="engineTo" value="" >
              </div>
		</div>
		</div>

        <!-- Clearenced -->
        <div class="col-md-4 mb-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">
                  Can't check this
              </label>
            </div>
        </div>
        <div class="col-md-4 mb-3">
		    <button type="submit" class="btn btn-primary">Submit</button>
        </div>
	</fieldset>
</form>

<div class="row row-cols-1 row-cols-md-3">
	{% for car in cars %}
	<div class="col m-4">
		<div class="card" style="width: 18rem;">
			<img src="{{ product.photo.url }}" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">{{ car.get_name }}</h5>
				<p class="card-text">Цена: {{ car.price}} {{ car.city}}</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">{{car.body_type}} ({{car.engine_volume}}) </li>
				<li class="list-group-item">Средняя цена: {{ car.average_price }} </li>
			</ul>
			<div class="card-body">
				<a href="{{ car.get_absolute_url }}" class="btn btn-primary">Просмотр</a><br>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}