{% extends 'template.html' %}

{% block title %}
{{car}}
{% endblock %}


{% block content %}
<h2>Find Car</h2>
<form action="{% url 'predict_price_url' %}">
	<fieldset>
		<legend>Configure your query</legend>
		<div class="row">
			<!-- Brand -->
			<div class="col-md-3 mb-3">
				<label for="disabledSelect" class="form-label">Brand</label>
				<select id="disabledSelect" class="custom-select d-block w-100" name="brand">
					<option value="" disabled selected>Select brand</option>
					{% for brand in brands %}
					<option>{{ brand }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- Model -->
			<div class="col-md-3 mb-3">
				<label for="lastName">Model</label>
				<input type="text" class="form-control" id="lastName" placeholder="model" name="model" value="">
			</div>

			<!-- Year -->
			<div class="col-md-3 mb-3">
				<label for="lastName">Year</label>
				<input type="text" class="form-control" id="lastName" placeholder="year" name="year" value="">
			</div>

			<!-- City -->
			<div class="col-md-3 mb-3">
				<label for="disabledSelect" class="form-label">City</label>
				<select id="disabledSelect" class="custom-select d-block w-100" name="city">
					<option value="" disabled selected>Select city</option>
					{% for city in cities %}
					<option>{{ city }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- body_type -->
			<div class="col-md-3 mb-3">
				<label for="state">Body type</label>
				<select class="custom-select d-block w-100" id="state" name="body_type">
					<option value="">Select Body Type</option>
					{% for body_type in body_types %}
					<option>{{ body_type }}</option>
					{% endfor %}
				</select>
				<div class="invalid-feedback">
					Please provide a valid state.
				</div>
			</div>

			<!-- engine_volume -->
			<div class="col-md-3 mb-3">
				<label for="lastName">Engine volume</label>
				<input type="text" class="form-control" id="lastName" placeholder="volume" name="engine" value="">
			</div>

			<!-- mileage -->
			<div class="col-md-3 mb-3">
				<label for="lastName">Mileage</label>
				<input type="text" class="form-control" id="lastName" placeholder="Mileage" name="mileage" value="">
			</div>

			<!-- gear_type -->
			<div class="col-md-3 mb-3">
				<label for="lastName">Gear type</label>
				<select class="custom-select d-block w-100" id="state" name="gear_type">
					<option value="">Select gear</option>
					{% for color in gear_types %}
					<option>{{ color }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- wheel -->
			<div class="col-md-3 mb-3">
				<label for="lastName">Steering wheel</label>
				<select class="custom-select d-block w-100" id="state" name="steering_wheel">
					<option value="">Select wheel</option>
					{% for color in steering_wheels %}
					<option>{{ color }}</option>
					{% endfor %}
				</select>
			</div>

			<!--  color -->
			<div class="col-md-3 mb-3">
				<label for="state">Color</label>
				<select class="custom-select d-block w-100" id="state" name="color">
					<option value="">Select Color</option>
					{% for color in colors %}
					<option>{{ color }}</option>
					{% endfor %}
				</select>
				<div class="invalid-feedback">
					Please provide a valid state.
				</div>
			</div>

			<!--  wheel_drive -->
			<div class="col-md-2 mb-3">
				<label for="state">Wheel drive</label>
				<select class="custom-select d-block w-100" id="state" name="wheel_type">
					<option value="">Select</option>
					{% for wheel_drive in wheel_drives %}
					<option>{{ wheel_drive }}</option>
					{% endfor %}
				</select>
				<div class="invalid-feedback">
					Please provide a valid state.
				</div>
			</div>

			<!-- Clearenced -->
			<div class="col-md-2 mb-3">
				<label for="disabledSelect" class="form-label">Clearenced</label>
				<select id="disabledSelect" class="custom-select d-block w-100" name="clear">
					<option value="" disabled selected>Clearenced</option>
					<option>Да</option>
					<option>Нет</option>
				</select>
			</div>

			<!-- fuel_type -->
			<div class="col-md-2 mb-3">
				<label for="state">Fuel type</label>
				<select class="custom-select d-block w-100" id="state" name="fuel_type">
					<option value="">Fuel Type</option>
					{% for fuel_type in fuel_types %}
					<option>{{ fuel_type }}</option>
					{% endfor %}
				</select>
				<div class="invalid-feedback">
					Please provide a valid state.
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</fieldset>

</form>

<h1>Prediction: {{ prediction }}</h1>

<table class="table">

	<div class="row">
		{% for key, value in params.items %}
		<div class="col-6">
			<b>{{ key }}:</b> {{ value }}
			<hr>
		</div>
		{% endfor %}
	</div>
</table>
{% endblock %}