{% extends 'template.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<h1>About page</h1>

<p>
	Car price prediction & finding cool options
</p>

<p>
	Machine Learning project
</p>

<h3>Data</h3>
<p>
	was parsed from kolesa.kz - largest online car selling platform
</p>

<h3>Services</h3>
<p>
<ol>
	<li>Show profitable options if you want to buy a car</li>
	<li>Predict your car price</li>
</ol>
</p>

<h5>Github repo</h5>
<p><a href="https://github.com/birzhans/cars">link</a></p>

<h5>Authors</h5>
<p>
<ul>
	<li>Serik Birzhan</li>
</ul>
</p>
{% endblock %}